
.disengage-confirm-modal .modal-content{
    background-color: black;
    border: 2px solid rgb(240, 149, 4) ;
    color:rgb(240, 149, 4) ;
}
.disengage-confirm-modal .modal-header{
    border-bottom: 0px !important;
}

.disengage-custom-title{
    color:rgb(240, 149, 4) ;
    font-size: 120%;
}
.disengage-custom-body{
    display: block;
    border-top: 2px solid rgb(240, 149, 4) ;
    color:rgb(240, 149, 4) ;
    text-align: center;
}
.disengage-confirm-modal .modal-footer{
    display: block !important;
    border: 0px !important;
}
.btnConfirmCancel{
    float: left;
    display: block;
    padding: 10px  15px;
    font-weight: bolder;
}
.btnConfirmProceed{
    float: right;
    padding: 10px  10px;
    font-weight: bolder;
}
