/*** Blue Circle
.speed-blue-circle{
    border: 2px solid #2196F3;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    background-color: transparent;
    color: white;
    margin: auto;
    display: block;
    text-align: center;
}
.speed-blue-circle .speed-text{
    font-size: 150% !important;
}
.speed-blue-circle .speed-unit{
    font-size:10pt !important
}
.speed-blue-circle .speed-type{
    margin-top: 10px;
    font-size:10pt !important
}
****/
.speed-blue-Squaire{
    border-radius: 15%;
    width: 100px;
    height: 120px;
    background-color:rgb(239, 189, 39); 
    border: 1px solid #5a7590;
    color: black;
    margin: auto;
    padding-top: 3px;
    display: block;
    text-align: center;

}
.speed-blue-Squaire .speed-text{
    font-size: 230% !important;
    line-height: 0.9;
}
.speed-blue-Squaire .speed-unit{
    font-size:10pt !important ;
    font-weight: bolder;
}
.speed-blue-Squaire .speed-type{
    font-size:12pt !important;
    font-weight: bolder;
    border-bottom: 1px solid #5a7590;
}