[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=chromium-browser 'http://localhost'
Name=CARMA WEB UI
Comment=CARMA WEB UI
Icon=/opt/carma/Pictures/CARMA_icon_color.png
Name[en_US]=CARMA WEB UI
Comment[en_US]= 
