[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=google-chrome --app=http://localhost --start-maximized
Name=CARMA WEB UI
Comment=CARMA WEB UI
Icon=/opt/carma/Pictures/CARMA_icon_color.png
Name[en_US]=CARMA_UI
Comment[en_US]=
