
.lane-change-wrapper{
    position: relative;
    height: 52px;
}
.lane-change-label{
    color: white; 
    font-size: 80%;
    font-weight: bolder;
    position: absolute;
    top: 10px;
    right: 5px;
    display: none;
}
.lane-change-img{
    width: 340px; 
    top: 5px;
    left: 5px;
    position: absolute;
}