
.speed-limit {
    margin: auto;
    display: block;
    text-align: center;
	width: 100px;
	height: 120px;
	align-items: center;
	border-radius: 10px;
	background: #dcdcdc;
	color: #000;
	text-align: center;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding: 3px;
}
.speed-limit-inner{
    border: 3px solid #000;
    border-radius: 10px;
}
.limit-label {
    padding-top: 5px;
    font-size: 12pt;
    font-weight: bolder;
    line-height: 1;
    padding-bottom: 3px;
}

.limit-text {
    font-size: 230%;
    line-height: 1;
    font-family: 'Oswald';
}