.background-color-green{
    background-color: rgb(167, 223, 57)
}
.background-color-blue{
    background-color: rgb(0, 255, 255)
}
.active-plugin-text{
    padding-left: 5px;
}
#no-active-plugins{
    font-size: 80%;
    color:rgb(239, 189, 39)
}