/* The container */
.container 
{
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 80%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid rgb(80, 79, 79);
    border-top: 1px solid rgb(80, 79, 79);
    margin-bottom: 0px;
  }
  .container:hover
  {
    background-color: rgb(58, 56, 56);
  }
  /* Hide the browser's default radio button */
  .container input 
  {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  .container .title
  {
    position: relative;
    top:0px;
    left: 24px;
    font-size: 100%;
  }
  .container .route_error_msg
  {
    position: relative;
    color: red;
    font-size: 70%;
    display: block;
    padding: 5px;
    display: none;
  }
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 10px;
    left: 0;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    border: 1px solid #fff;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;    
  }
  
  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: rgb(167, 223, 57);
    border: 1px solid rgb(167, 223, 57);
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
      top: 8px;
      left: 8px;
      width: 28px;
      height: 28px;
      border-radius: 50%;
      background: white;
  } 